body {
    font-family: 'Roboto', sans-serif;
}

.section-todo {
    background-color: #ffffff;
}
.container {
    max-width: 630px;
    padding: 15px 0;
    margin: 0px auto;
}

.todo-list__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.todo-list-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #5d4f85;
    padding: 30px;
    border-radius: 10px;
}
.form {
    display: flex;

    align-items: center;
}

.form input {
    border-radius: 5px;
    min-width: 250px;
    padding: 5px;
}

.form input::placeholder {
    font-size: 14px;
    padding: 10px;
    opacity: 0.8;
}

.main-title {
    font-size: 15px;
    margin-right: auto;
    text-transform: uppercase;
}

.btn {
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border: none;
    background-color: #478aaf;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn:active {
    transform: translateY(2px);
}

.todo-info {
}

.wrapper-info {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}

.wrapper-info-done {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}
.title {
    text-transform: uppercase;
    font-size: 15px;
}

.todo-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #478aaf;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 15px;
}
.todo-tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.todo-task-wrapper {
    border-radius: 10px;
    background-color: #5ec2c5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-task-wrapper-done {
    border-radius: 10px;
    background-color: #5ec2c5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.remove {
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border: none;
    background-color: #816b80;
    transition: all 0.3s;
    border-radius: 5px;
}
button.remove:active {
    transform: translateY(2px);
}

button.remove-disabled {
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border: none;
    background-color: #816b80;
    transition: all 0.3s;
    border-radius: 5px;
}

button.remove-disabled:active {
    transform: translateY(2px);
}

@media (max-width: 586px) {
    .todo-list__header {
        display: inline;
    }
    .form {
        flex-direction: column;
        gap: 20px;
    }
    .main-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .btn {
        margin-left: 4px;
    }
    .form input {
        min-width: 350px;
    }
}

@media (max-width: 440px) {
    .form input {
        min-width: 260px;
    }
}

@media (max-width: 350px) {
    button.remove {
        padding: 4px;
        font-size: 13px;
    }
    .btn {
        padding: 6px;
        font-size: 13px;
    }
}
